@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
  padding-top: 9rem;
}

.label{
   padding: .5rem  0 !important;
    text-align: left !important;
    display: block;
    font-size: 1.2rem !important;
}

.form-hero{
  max-width: 20rem ;
  margin: 12rem auto !important;
  text-align: left !important;
}


